/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-padding-top: 4rem;
    scroll-behavior: smooth;
    text-decoration: none;
    user-select: none;
}

/* Variables */

:root{
    --color1: #26a0da;
    --color2: #1b1b1b;
    --white-text: #edeae3;
    --black-text: #1b1b1b;
    --btn-color: #0c4a66;
    --box-shadow: 2px 2px 10px 4px rgb(14 55 54 / 15%);
    --text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    --d: 700ms;
    --e: cubic-bezier(0.19, 1, 0.22, 1);
    --points-background: linear-gradient(170deg, #151618 0%, #2b2b2b 100%);
}

section{
    padding: 30px 4rem;
}

img{
    width: 100%;
}

body{
    width: 100%;
    color: var(--black-text);
}

.bold{
    font-weight: 600;
}

.header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .4rem 3rem;
    transition: 0.5 linear;
    background: var(--black-text);
    backdrop-filter: blur(8px);
    border: 1px solid rgba(255,255,255,0.18);
    box-shadow: var(--box-shadow);
}

.header.sticky{
    border-bottom: .1rem solid rgba(0, 0, 0, .2);
}

.navbar li a.active{
    background: var(--color1);
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
}

.navbar li{
    display: flex;
    align-items: center;
}

.navbar li:not(:last-child) a{
    padding: 3px 17px;
    background: var(--black-text);
    color: var(--white-text);
    font-size: .938rem;
    font-weight: 500;
    box-shadow: none;
    margin-left: 10px;
}

.navbar li:not(:last-child) a:hover{
    background: var(--color1);
    border-radius: 0.2rem;
    transition: .2 all linear;
}

.whatsapp-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    animation: floatImageServ 1.5s ease-in-out infinite;
}
  
.whatsapp-button img {
    width: 50px;
    height: auto;
}

@keyframes floatImageServ{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-.3rem);
    }
    100%{
        transform: translateY(0);
    }
}

.cotizar{
    border: none;
    padding: 5px 20px;
    font-size: .938rem;
    position: relative;
    background: transparent;
    color: var(--color1);
    margin-left: 10px;
    border: 1px solid var(--color1);
    cursor: pointer;
    transition: all 0.7s;
    overflow: hidden;
    border-radius: 100px;
    display: inline-block;
    text-align: center;
    font-weight: 700;
}

.cotizar:hover{
    color: var(--black-text);
}

.cotizar span{
    transition: all 0.7s;
    z-index: -1;
}

.cotizar .first {
    content: "";
    position: absolute;
    right: 100%;
    top: 0;
    width: 25%;
    height: 100%;
    background: var(--color1);
}

.cotizar:hover .first {
    top: 0;
    right: 0;
}

.cotizar .second {
    content: "";
    position: absolute;
    left: 25%;
    top: -100%;
    height: 100%;
    width: 25%;
    background: var(--color1);
}

.cotizar:hover .second {
    top: 0;
    left: 50%;
}

.cotizar .third {
    content: "";
    position: absolute;
    left: 50%;
    height: 100%;
    top: 100%;
    width: 25%;
    background: var(--color1);
}

.cotizar:hover .third {
    top: 0;
    left: 25%;
}

.cotizar .fourth {
    content: "";
    position: absolute;
    left: 100%;
    top: 0;
    height: 100%;
    width: 25%;
    background: var(--color1);
}

.cotizar:hover .fourth {
    top: 0;
    left: 0;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    animation: slideLogo 1s ease forwards;
}

@keyframes slideLogo{
    0%{
        opacity: 0;
        transform: translateX(-200px);
    }
    50%{
        opacity: 1;
        transform: translateX(50px);
    }
    100%{
        transform: translateX(0);
    }
}

.logo img{
    display: block;
    width: 170px;
}

.navbar{
    display: flex;
}

#menu-icon{
    color: var(--white-text);
    font-size: 24px;
    z-index: 100001;
    cursor: pointer;
    display: none;
}

.home{
    width: 100%;
    min-height: 100vh;
    background-image:
        linear-gradient(rgba(255, 255, 255, 0.2), rgba(0, 0, 0, .8)),
        url(../images/home.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(17rem, auto));
    gap: 1.5rem;
    align-items: center;

}

.multiple-text{
    text-shadow: var(--text-shadow);
    font-size: 3rem;
    color: var(--white-text);
    letter-spacing: 1px;
}

.home-text p{
    text-shadow: var(--text-shadow);
    font-size: 1.2rem;
    color: var(--white-text);
    margin: 0.5rem 0 1.4rem;
    width: 50vw;
}

.custom-btn{
    text-shadow: var(--text-shadow);
    color: var(--white-text);
    border-radius: 5px;
    padding: 10px 25px;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5), 7px 7px 20px 0px rgba(0,0,0,.1), 4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
    text-align: center;
    font-size: 1.2rem;
}

.btn{
    background: var(--btn-color);
    border: none;
}

.btn:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -1;
    background-color: var(--color1);
    border-radius: 5px;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
    transition: all 0.2s ease;
}

.btn:hover {
    text-shadow: var(--text-shadow);
    color: var(--white-text);
}

.btn:hover:after {
    left: 0;
    width: 100%;
}

.btn:active {
    top: 2px;
}

.home .home-text a{
    margin-left: 0;
}

/* ----------------------- About Us ----------------------- */

.about{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}

.about-title{
    text-align: center;
    margin-bottom: .5rem;
}

.about-description-container{
    display: flex;
    padding: 20px 10rem;
}

.about-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-text p{
    font-size: .938rem;
    color: var(--black-text);
    margin-bottom: 10px;
}

.about-img img{
    display: block;
    min-width: 450px;
}

.points-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    opacity: 0.85;
    background: linear-gradient(170deg, #151618 0%, #2b2b2b 100%);
    position: relative;
    box-shadow: 0 10px 20px rgba(0,0,0,0.55);
    border-radius: 10px;
    border: 2px solid var(--color2);
    margin: 1rem 0;
}

.card-box {
    transition: all .3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 .5rem;
    margin: .8rem 1rem;
    width: 33%;
}

.card-box:nth-child(2){
    border-left: 2px solid var(--white-text);
    border-right: 2px solid var(--white-text);
}

.big-cont{
    display: flex;
}

.big-cont span{
    font-size: 3rem;
    font-weight: 600;
    color: var(--white-text);
    text-align: center;
    text-shadow: var(--text-shadow);
}

.card-box .subtitle{
    color: var(--white-text);
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
}

.clients{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.clients p{
    font-size: .938rem;
    color: var(--black-text);
    margin-bottom: 10px;
    
}

.our-clients{
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    background-image:
        linear-gradient(rgba(255, 255, 255, 1), rgba(0, 0, 0, .6)),
        url(../images/home.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100vw;
    border-radius: 10px;
    border: 2px solid var(--color2);
    width: 100%;
    box-shadow: 0 10px 20px rgba(0,0,0,0.55);
}

.our-clients .clients-wrap{
    display: block;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.our-clients .clients-wrap ul{
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.our-clients .clients-wrap ul li{
    display: block;
    float: left;
    position: relative;
    width: 220px;
    line-height: 100px;
    text-align: center;
}

.our-clients .clients-wrap ul li img{
    vertical-align: middle;
    width: 60%;
    -webkit-transition: 0 linear left;
    -moz-transition: 0 linear left;
    transition: 0 linear left;
}

.conicet img{
    padding: 20px;
}

/* ----------------------- Seguros ----------------------- */

.insurance{
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}

.insurance-title{
    display: block;
    text-align: center;
}

.insurance > p{
    font-size: .938rem;
    color: var(--black-text);
    padding: 10px 0;
}

.page-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows: min-content;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-gap: 1rem;
    margin: 0 auto;
    opacity: 0.85;
    background: linear-gradient(170deg, #151618 0%, #2b2b2b 100%);
    padding: 1rem;
    border-radius: 1rem;
}

.close-desc{
    display: none;
    justify-content: flex-end;
    align-items: flex-end;
    margin-top: .5rem;
    padding: .4rem 2rem;
}

/* TESTING */

.description-container{
    grid-column-start: 1;
    grid-column-end: 6;
    position: relative;
    color: var(--black-text);
    display: flex;
    align-items: center;
    justify-content: center;
}

.descripcion{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    border-radius: 1rem;
    position: absolute;
    padding: 0rem 1rem;
    height: 100%;
    z-index: 0;
}

.automotor{
    display: none;
    background-image: 
    linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, .9), rgba(255, 255, 255, .8)),    
    url(../images/automotor.jpg);
    background-size: cover;
    background-position: center;
}

.motos{
    display: none;
    background-image: 
    linear-gradient(rgba(255, 255, 255, .6), rgba(255, 255, 255, .8), rgba(255, 255, 255, .8)),    
    url(../images/moto.jpg);
    background-size: cover;
    background-position: center;
}

.hogar{
    display: none;
    background-image:
    linear-gradient(rgba(255, 255, 255, .6), rgba(255, 255, 255, .8), rgba(255, 255, 255, .8)),    
    url(../images/casa.jpg);
    background-size: cover;
    background-position: center;
}

.comercio{
    display: none;
    background-image: 
    linear-gradient(rgba(255, 255, 255, .6), rgba(255, 255, 255, .8), rgba(255, 255, 255, .8)),    
    url(../images/pyme.jpg);
    background-size: cover;
    background-position: center;
}

.art{
    display: none;
    background-image: 
    linear-gradient(rgba(255, 255, 255, .6), rgba(255, 255, 255, .8), rgba(255, 255, 255, .8)),    
    url(../images/art.jpg);
    background-size: cover;
    background-position: center;
}

.comercio p:nth-child(2){
    margin-bottom: .5rem;
}

.tab{
    padding-left: 2rem;
}
.automotor > *:not(h3),
.motos > *:not(h3),
.hogar > *:not(h3),
.comercio > *:not(h3),
.art > *:not(h3){
    font-size: .938rem;
    font-weight: 500;
}

.automotor h3,
.motos h3,
.hogar h3,
.comercio h3,
.art h3{
    margin-top: .4rem;
    text-align: center;
}

.descripcion.visible{
    display: flex;
    transition: opacity 1s ease-in;
}

.card.active{
    opacity: 1;
    -webkit-box-shadow:0px 0px 27px 7px rgba(162,172,189,1);
    -moz-box-shadow: 0px 0px 27px 7px rgba(162,172,189,1);
    box-shadow: 0px 0px 27px 7px rgba(162,172,189,1);
}

.card{
    position: relative;
    display: flex;
    border-radius: 1rem;
    align-items: flex-end;
    overflow: hidden;
    padding: 1rem;
    min-height: 275px;
    cursor: pointer;
    opacity: .8;
    text-align: center;
    color: whitesmoke;
    background-color: whitesmoke;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.card:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 110%;
    background-size: cover;
    background-position: 0 0;
    transition: transform calc(var(--d) * 1.5) var(--e);
    pointer-events: none;
}

.card:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200%;
    pointer-events: none;
    background-image: 
        linear-gradient(to bottom, hsla(0deg, 0%, 0%, 0) 0%, hsla(0deg, 0%, 0%, 0.009) 11.7%, hsla(0deg, 0%, 0%, 0.034) 22.1%, hsla(0deg, 0%, 0%, 0.072) 31.2%, hsla(0deg, 0%, 0%, 0.123) 39.4%, hsla(0deg, 0%, 0%, 0.182) 46.6%, hsla(0deg, 0%, 0%, 0.249) 53.1%, hsla(0deg, 0%, 0%, 0.32) 58.9%, hsla(0deg, 0%, 0%, 0.394) 64.3%, hsla(0deg, 0%, 0%, 0.468) 69.3%, hsla(0deg, 0%, 0%, 0.54) 74.1%, hsla(0deg, 0%, 0%, 0.607) 78.8%, hsla(0deg, 0%, 0%, 0.668) 83.6%, hsla(0deg, 0%, 0%, 0.721) 88.7%, hsla(0deg, 0%, 0%, 0.762) 94.1%, hsla(0deg, 0%, 0%, 0.79) 100%);
    transform: translateY(-50%);
    transition: transform calc(var(--d) * 2) var(--e);
}

.card:nth-child(1):before {
    background-image: url(../images/automotor.jpg);
    background-position: center;
}

.card:nth-child(2):before {
    background-image: url(../images/moto.jpg);
    background-position: center;
}

.card:nth-child(3):before {
    background-image: url(../images/casa.jpg);
    background-position: center;
}

.card:nth-child(4):before {
    background-image: url(../images/pyme.jpg);
    background-position: center;
}

.card:nth-child(5):before {
    background-image: url(../images/art.jpg);
    background-position: center;
}

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  transition: transform var(--d) var(--e);
  z-index: 1;
}

.content > * + * {
  margin-top: .5rem;
}

.card-title {
    font-weight: bold;
    line-height: 1.2;
}

.copy {
  font-size: .938rem;
  text-shadow: var(--text-shadow);
}

@media (hover: hover) and (min-width: 600px) {
    .card:after {
        transform: translateY(0);
    }
    .content {
        transform: translateY(calc(100% - 4.5rem));
    }
    .content > *:not(.card-title) {
        opacity: 0;
        transform: translateY(1rem);
        transition: transform var(--d) var(--e), opacity var(--d) var(--e);
    }
    .card:hover,
    .card:focus-within {
        align-items: center;
        -webkit-box-shadow:0px 0px 90px 10px rgba(46,123,255,0.6);
        -moz-box-shadow: 0px 0px 90px 10px rgba(46,123,255,0.6);
        box-shadow: 0px 0px 90px 10px rgba(46,123,255,0.6);
    }
    .card:hover:before,
    .card:focus-within:before {
        transform: translateY(-4%);

    }
    .card:hover:after,
    .card:focus-within:after {
        transform: translateY(-50%);
    }
    .card:hover .content,
    .card:focus-within .content {
        transform: translateY(0);
    }
    .card:hover .content > *:not(.card-title),
    .card:focus-within .content > *:not(.card-title) {
        opacity: 1;
        transform: translateY(0);
        transition-delay: calc(var(--d) / 8);
    }
    .card:focus-within:before, .card:focus-within:after,
    .card:focus-within .content,
    .card:focus-within .content > *:not(.card-title) {
        transition-duration: 0s;
    }

    .card:hover .card-title{
        text-decoration: underline;
    }

}

/* Siniestros */

.accidents{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}

.accidents-title,
.accidents-subtitle{
    display: block;
    text-align: center;
}

.accidents > p:nth-child(3){
    font-size: .938rem;
    color: var(--black-text);
    padding: 10px 0;
}

.accidents-container{
    display: grid;
    grid-auto-rows: min-content;
    grid-template-columns: repeat(4, minmax(150px, 200px));
    gap: 1rem;
    margin-top: 1rem;
}

.bx{
    font-size: 2rem;
    color: white;
    box-shadow: var(--box-shadow);
}

.accidents-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 275px;
    padding: 5px;
    box-shadow: var(--box-shadow);
    border-radius: 3rem;
}

.accidents-box:nth-child(1){
    background-image: 
        linear-gradient(170deg, rgba(36, 36, 36, 0.3) 50%, rgba(0, 0, 0, .5) 50%),
        url(../images/chill.jpg);
    background-size: cover;
    background-position: center;
}

.accidents-box:nth-child(2){
    background-image: 
        linear-gradient(170deg, rgba(36, 36, 36, 0.6) 50%, rgba(0, 0, 0, .7) 50%),
        url(../images/secure.jpg);
    background-size: cover;
    background-position: center;
}

.accidents-box:nth-child(3){
    background-image: 
        linear-gradient(170deg, rgba(36, 36, 36, 0.6) 50%, rgba(0, 0, 0, .7) 50%),
        url(../images/injured.jpg);
    background-size: cover;
    background-position: center;
}

.accidents-box:nth-child(4){
    background-image: 
        linear-gradient(170deg, rgba(36, 36, 36, 0.6) 50%, rgba(0, 0, 0, .7) 50%),
        url(../images/notes.jpg);
    background-position: center;
    background-size: cover;
}

.accidents-box:nth-child(5){
    background-image: 
        linear-gradient(170deg, rgba(36, 36, 36, 0.6) 50%, rgba(0, 0, 0, .3) 50%),
        url(../images/pictures.jpg);
    background-position: center;
    background-size: cover;
}

.accidents-box:nth-child(6){
    background-image: 
        linear-gradient(170deg, rgba(36, 36, 36, 0.6) 50%, rgba(0, 0, 0, .7) 50%),
        url(../images/calling.jpg);
    background-position: center;
    background-size: cover;
}

.accidents-box:nth-child(7){
    background-image: 
        linear-gradient(170deg, rgba(36, 36, 36, 0.6) 50%, rgba(0, 0, 0, .7) 50%),
        url(../images/repair.jpg);
    background-position: center;
    background-size: cover;
}

.accidents-box:nth-child(8){
    background-image: 
        linear-gradient(170deg, rgba(36, 36, 36, 0.6) 50%, rgba(0, 0, 0, .7) 50%),
        url(../images/conclusion.jpg);
    background-position: center;
    background-size: cover;
}

.accidents-box span{
    text-align: center;
    font-size: 3.5rem;
    font-weight: 700;
    color: var(--white-text);
}

.accidents-box h5{
    text-align: center;
    font-weight: 700;
    color: var(--white-text);
}

.accidents-box p{
    font-size: .78rem;
    text-align: center;
    color: var(--white-text);
    text-shadow: var(--text-shadow);
}

.box-img-container{
    display: flex;
    justify-content: center;
    padding: .3rem;
}

.accidents-box img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
}

/* ---------------------- Contact ---------------------- */

.contact{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    justify-content: center;
    align-items: center;
    width: 100%;
}

.form{
    width: 100%;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    z-index: 100;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.contact-form{
    background: var(--color2);
    padding: 2rem 0;
    position: relative;
    display: flex;
    flex-direction: column;
}

.contact-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: rgba(123, 115, 146);
    position: relative;
}

.circle{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: linear-gradient(135deg, transparent 20%, var(--btn-color));
    position: absolute;
}

.circle.one{
    width: 130px;
    height: 130px;
    top: 130px;
    right: -40px;
}

.circle.two{
    width: 80px;
    height: 80px;
    top: 10px;
    right: 30px;
}

.contact-form:before{
    content: '';
    position: absolute;
    width: 26px;
    height: 26px;
    background: rgba(123, 115, 146);
    transform: rotate(45deg);
    top: 50px;
    left: -13px;
}

form{
    padding: 2.3rem 2.2rem;
    z-index: 10;
    overflow: hidden;
    position: relative;
}

.title{
    color: var(--white-text);
    line-height: 1;
    margin-bottom: .7rem;
}

.input-container{
    position: relative;
    margin: 1rem 0;
}

.input{
    width: 100%;
    outline: none;
    border: 1px solid var(--white-text);
    background: none;
    padding: .6rem 1.2rem;
    color: var(--white-text);
    font-weight: 500;
    font-size: .85rem;
    letter-spacing: .5px;
    border-radius: 15px;
    transition: .3s;
}

textarea.input{
    padding: .8rem 1.2rem;
    min-height: 150px;
    border-radius: 22px;
    resize: none;
    overflow-y: auto;
}

.input-container label{
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    padding: 0 .4rem;
    color: #fafafa;
    font-size: .8rem;
    font-weight: 400;
    pointer-events: none;
    z-index: 1000;
    transition: .5s;
}

.input-container.textarea label{
    top: 1rem;
    transform: translateY(0);
}

.btn-form{
    padding: .6rem 1.3rem;
    font-size: 1rem;
    line-height: 1;
    border-radius: 25px;
    cursor: pointer;
    transition: .3s;
}

.input-container span{
    position: absolute;
    top: 0;
    left: 25px;
    transform: translateY(-50%);
    font-size: .8rem;
    padding: 0 .4rem;
    color: transparent;
    pointer-events: none;
    z-index: 500;
}

.input-container span::before,
.input-container span::after{
    content: '';
    position: absolute;
    width: 10%;
    opacity: 0;
    transition: .3s;
    height: 5px;
    background: var(--color2);
    top: 50%;
    transform: translateY(-50%);
}

.input-container span:before{
    left: 50%;
}

.input-container span:after{
    right: 50%;
}

.input-container.focus label{
    top: 0;
    transform: translateY(-50%);
    left: 25px;
    font-size: .75rem;
}

.input-container.focus span:before,
.input-container.focus span:after{
    width: 55%;
    opacity: 1;
}

.contact-info{
    padding: 2.3rem 2.2rem;
    position: relative;
}

.contact-info .title{
    color: var(--btn-color);
}

.contact-text{
    color: var(--white-text);
    font-size: 1rem;
    margin: 1rem 0;
}

.information{
    display: flex;
    margin: .7rem 0;
    align-items: center;
    font-size: .95rem;
}

.icon{
    font-size: 1.7rem;
    margin-right: .7rem;
    box-shadow: none;
}

.contact-info::before{
    content: '';
    position: absolute;
    width: 110px;
    height: 100px;
    border: 22px  solid var(--color2);
    border-radius: 50%;
    bottom: -77px;
    right: 50px;
    opacity: .2;
}

.contact-info::after{
    content: '';
    position: absolute;
    width: 110px;
    height: 100px;
    border: 22px  solid var(--color2);
    border-radius: 50%;
    top: -50px;
    left: -50px;
    opacity: .2;
}

.information p{
    font-size: 1.1rem;
    color: var(--btn-color);
}

/* ---------------------- Footer ---------------------- */

.footer{
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background: linear-gradient(180deg, #a8a8a8 100%, #00000080 80%);
    user-select: none;
    padding: .5rem;
}

.footer-box{
    font-size: .938rem;
    padding: .5rem;
    font-weight: 600;
}

.footer-box:nth-child(1){
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.footer-box:nth-child(2){
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-left: 2px solid var(--color2);
    border-right: 2px solid var(--color2);
}

.footer-box:nth-child(3){
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-box:nth-child(3) a{
    display: inline-block;
    width: 60%;
}

.footer-box:nth-child(3) a img{
    display: block;
    width: 100%;
    height: auto;
}

/* ---------------------- Copyright ---------------------- */

.copy-container{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .938rem;
    background: var(--black-text);
}

.copyright{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: .5rem;
    color: var(--white-text);
}

.footer-iconTop a{
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s ease;
    border-radius: .4rem;
    margin-left: 10px;
}

.footer-iconTop a:hover{
    box-shadow: 0 0 1rem var(--color1);
}

.footer-iconTop a i{
    font-size: 1.4rem;
    border-radius: .4rem;
    background: var(--color1);
}

.credito{
    color: cyan;
}

/* ---------------------- Breakpoints ---------------------- */
/* ---------------------- Pantallas XG ---------------------- */

@media screen and (min-width: 1329px) {

    section{
        padding: 30px 10vw;
    }

    .form{
        max-width: 80%;
    }

    .about{
        min-height: 85vh;
    }

    .accidents-container{
        grid-template-columns: repeat(4, minmax(200px, 300px));
    }

    .contact{
        min-height: 70vh;
    }

    .form{
        min-height: 40rem;
    }

    .contact-form{
        justify-content: center;
    }

    form textarea{
        height: 200px;
    }

}

/* ---------------------- Pantallas Grandes ---------------------- */

@media screen and (max-width: 1328px){

    .contact{
        min-height: 50vh ;
    }

    .form{
        max-width: 70%;
    }

    .accidents-container{
        grid-template-columns: repeat(4, minmax(200px, 300px));
    }

}

/* ---------------------- Pantallas Tablets ---------------------- */

@media screen and (max-width: 1024px){

    .contact{
        min-height: 50vh ;
    }
    
    .page-content{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto auto auto 1fr;
    }

    .description-container{
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .card:nth-child(5){
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .descripcion{
        height: 100%;
        width: 90%;
        padding: 2rem;
    }

    .footer-box:nth-child(3) a{
        width: 80%;
    }

    .form{
        max-width: 90%;
    }

    .accidents-container{
        grid-template-columns: repeat(4, minmax(225px, 300px));
    }

}

@media screen and (max-width: 768px){

    section{
        overflow: hidden;
        padding: 30px 2rem;
    }
    #menu-icon{
        display: block;
        padding-right: 10px;
    }

    .header{
        padding: 1rem 1rem;
        border: none;
        transition: height 0.3s ease;
    }

    .home-text p{
        width: 100%;
        font-size: 1.1rem;
    }

    .btn{
        font-size: 1rem;
    }

    .multiple-text{
        font-size: 2rem;
    }

    .navbar{
        /* display: none; */
        display: flex;
        flex-direction: column;
        top: -400px;
        /* padding: 0; */
        opacity: 0;
        position: absolute;
        left: 0;
        /* padding: 1rem 3%; */
        width: 100vw;
        background: var(--color2);
        transition: .5s ease;
        border-top: 2px solid var(--color1);
    }  

    .navbar.active{
        display: flex;
        opacity: 1;
        border-top: 2px solid var(--color1);
        /* En base a las medidas absolutas */
        top: 87.2px; 
        flex-direction: column;
        background: var(--color2);

    }

    .navbar li:not(:last-child) a{
        color: var(--white-text);
        font-size: .938rem;
        font-weight: 500;
        width: 100%;
        margin: .5rem .1rem;
        padding: 0;
    }

    .navbar li a{
        width: 100%;
        border: none;
        font-size: .938rem;
        margin-left: 0;
    }

    .page-content{
        grid-template-columns: repeat(2, auto);
        grid-template-rows: auto auto auto 1fr;
    }

    .description-container{
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .descripcion *:not(h3){
        font-size: .8rem;
    }

    .card:nth-child(5){
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .accidents-container{
        grid-template-columns: repeat(2, minmax(150px, 300px));
    }

    .accidents-box{
        min-width: 300px;
    }
    
    .footer-box{
        font-size: .838rem;
    }

    .footer-box:nth-child(3) a{
        width: 90%;
    }

    .form{
        max-width: 100%;
    }

}

@media screen and (max-width: 660px){

    .card-box {
        transition: all .3s;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: none;
        padding: 0;
    }

    .card-box:nth-child(2){
        margin: 1rem;
        padding: 0 .5rem;
    }

    .close-desc{
        display: flex;
    }

    form{
        padding: 0;
    }

    .contact-info{        
        padding: 2rem;
    }

    .contact-form{
        padding: 2rem;
    }    

    .form{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, auto);
    }

    .contact-form:before{
        transform: rotate(45deg);
        top:-13px;
        left: 50px;
    }

}

/* ---------------------- Pantallas Moviles Grandes ---------------------- */

@media screen and (max-width: 480px){
    section{
        overflow: hidden;
        padding: 30px 1rem;
    }

    .multiple-text{
        font-size: 1.7rem;
    }

    .home-text p{
        font-size: .938rem;
        width: 90%;
    }

    .points-container{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        width: 85%;
        margin: 1rem auto;
        opacity: 0.85;
        background: linear-gradient(170deg, #151618 0%, #2b2b2b 100%);
        position: relative;
        box-shadow: 0 10px 20px rgba(0,0,0,0.55);
        border-radius: 10px;
        border: 2px solid var(--color2);
    }


    .accidents-container{
        grid-template-columns: repeat(1, minmax(150px, 400px));
    }

    .accidents-box{
        min-height: 300px;
    }

    .accidents-box h5{
        font-size: 1.1rem;
    }

    .accidents-box p{
        font-size: .938rem;
    }

    .card-box{
        margin: 0;
        width: 80%;
    }

    .card{
        outline: 1px solid var(--color1);
        box-shadow: var(--box-shadow);
    }

    form .btn{
        width: 100%;
    }

    .card.active{
        box-shadow: none;
    }

    .card-box:nth-child(2){
        border: none;
        border-top: 2px solid var(--white-text);
        border-bottom: 2px solid var(--white-text);
        padding: .5rem 0;
    }

    .page-content{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, minmax(150px, 300px));
        padding: .5rem;
    }

    .description-container{
        grid-column-start: 1;
        grid-column-end: 2;
        width: 100%;
    }

    .descripcion{
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .descripcion h3{
        margin-bottom: .5rem;
    }

    .card:nth-child(5){
        grid-column-start: 1;
        grid-column-end: 2;
    }

    .footer{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
    }

    .footer-box{
        justify-self: center;

    }

    .footer-box:nth-child(2){
        border: none;
        border-top: 2px solid var(--color2);
        border-bottom: 2px solid var(--color2);
        width: 70%;
    }

    .footer-box:nth-child(3) a{
        display: inline-block;
        width: 60%;
    }

    .copy-container p{
        font-size: .85rem;
    }

    .whatsapp-button {
        bottom: 40px;
        right: 15px;
    }

}

/* ---------------------- Pantallas Moviles Chicos ---------------------- */

@media screen and (max-width: 375px){
    .multiple-text{
        font-size: 1.3rem;
    }
}




